<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Announcement Email</title>
</head>
<body>
  <div class="container">
    <div class="col-md-12 text-center">
        <img src="&%email_header%&" style="max-height: 3rem; display: block; margin-left: auto; margin-right: auto;"></img>
        <hr/>  
        <div class="container">
            <div style="max-width: 100%;height: auto; display: block;margin: 0 auto;">
                &%announcement_body%&
            </div>
            <p>Posted &%upload_date%&</p>
        </div> 
    </div>
  </div>
</body>
</html>
