<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Challenge Email</title>
</head>
<body style="font-family: 'Gotham-Narrow-Book', Arial;">
  <div class="container">
      <div style="justify-content: center;">
        <img src="&%email_header%&" style="max-height: 3rem; display: block; margin-left: auto; margin-right: auto;"></img>
        <img src="&%challenged_title_link%&" style="max-height: 3rem; display: block; margin-left: auto; margin-right: auto;"></img>
        <h3 style="font-family: 'United-Sans-Regular-Bold', Arial;text-align: center;">&%challenger_firstname%& &%challenger_lastname%& <span style="color: #CC0000;">(&%challenger_rank%&)</span> has issued a challenge for your spot at <span style="color: #CC0000;">(&%challenged_rank%&)</span>.</h3>
        <h3 style="font-family: 'Gotham-Narrow-Book', Arial;text-align: center;">Reply to this email to contact &%challenger_firstname%& to schedule the match. If the match is not played within 7 days it is automatically considered a forefit.</h3>       
    </div>
  </div>
</body>
</html>
