<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Challenge Reminder</title>
</head>
<body style="font-family: 'Gotham-Narrow-Book', Arial;">
    <div class="container">
        <div style="justify-content: center;">
        <img src="&%email_header%&" style="max-height: 3rem; display: block; margin-left: auto; margin-right: auto;"></img>
        <h1 style="font-family: 'United-Sans-Regular-Bold', Arial;text-align: center;">Challenge Reminder</h1>
        <h3 style="font-family: 'United-Sans-Regular-Bold', Arial;text-align: center;">Just a heads up - TODAY is the last day to play your challenge match against &%challenger_firstname%& &%challenger_lastname%& before it is automatically considered a forefit.</h3>
        <h3 style="font-family: 'Gotham-Narrow-Book', Arial;text-align: center;">You can reply to this email to contact &%challenger_firstname%& to schedule the match.</h3>       
    </div>
    </div>
</body>
</html>
