<!DOCTYPE html>
<html>
<head>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    
    <!-- Trumbowyg CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/trumbowyg@2.25.1/dist/ui/trumbowyg.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/trumbowyg@2.25.1/dist/plugins/base64/trumbowyg.base64.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
        // Create a new Image object for preloading the hover image
        var hoverImage = new Image();
        hoverImage.src = "/static/tuffy-small-bred.webp";
        
        // Find the logo-outer element
        var logoOuter = document.querySelector('.logo-outer');
        // Find the logo-inner element
        var logoInner = document.querySelector('.logo-inner');
        
        // When mouse enters logo-outer, update logo-inner src to the hover image
        logoOuter.addEventListener('mouseenter', function() {
            logoInner.src = hoverImage.src;
        });
        
        // When mouse leaves logo-outer, revert logo-inner src to the original image
        logoOuter.addEventListener('mouseleave', function() {
            logoInner.src = "/static/tuffy-small-whiteline.webp";
        });
    });
    </script>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md">
        <div class="container">
            <!-- Offcanvas toggle button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar header/brand centered -->
            <a class="navbar-brand mx-auto justify-content-between logo-outer" href="/club/">
                <span>NC State</span>
                <img src="/static/tuffy-small-whiteline.webp" class="logo-inner">
                <span>Club Tennis</span>
            </a>
            <!-- Offcanvas navbar content -->
            <div class="offcanvas offcanvas-start offcanvas-red" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h3 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/club/challenge">Challenge</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/club/announcements">Announcements</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/">Admin Console</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/auth/logout">Sign Out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="container mt-5">
        <h1>Home Page Slideshow</h1>
        <h3>Custom Welcome Page</h3>
        <form id="welcomeForm">
            <div class="mb-3">
                <textarea id="welcomeEditor" class="form-control"></textarea>
            </div>
            <button type="submit" class="btn btn-primary mb-3">Save Welcome Page</button>
        </form>
        
        <div class="mt-5">
            <h3>Current Slides</h3>
            <div id="currentSlides" class="row">
                <!-- Slides will be displayed here -->
            </div>
        </div>
        <h3>Upload New Slides</h3>
        <p><i>These are kinda finicky, only upload one image at a time</i></p>
        <p><i>Refresh this page to view your changes</i></p>

        <form id="uploadForm">
            <div class="mb-3">
                <label for="file1" class="form-label">Slide 1</label>
                <input class="form-control" type="file" id="file0" accept="image/*">
            </div>
            <div class="mb-3">
                <label for="file2" class="form-label">Slide 2</label>
                <input class="form-control" type="file" id="file1" accept="image/*">
            </div>
            <div class="mb-3">
                <label for="file3" class="form-label">Slide 3</label>
                <input class="form-control" type="file" id="file2" accept="image/*">
            </div>
            <div class="mb-3">
                <label for="file4" class="form-label">Slide 4</label>
                <input class="form-control" type="file" id="file3" accept="image/*">
            </div>
            <div class="mb-3">
                <label for="file5" class="form-label">Slide 5</label>
                <input class="form-control" type="file" id="file4" accept="image/*">
            </div>
            <button type="submit" class="btn btn-primary mb-5">Submit</button>
        </form>
    </div>

    <!-- jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <!-- Trumbowyg JS -->
    <script src="https://cdn.jsdelivr.net/npm/trumbowyg@2.25.1/dist/trumbowyg.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <!-- Custom JS -->
    <script>
        $(document).ready(function() {
            // Initialize Trumbowyg
            $('#welcomeEditor').trumbowyg();

            // Fetch and display current welcome page content
            function fetchWelcomePage() {
                $.get('/welcome', function(data) {
                    $('#welcomeEditor').trumbowyg('html', data.Data);
                });
            }

            // Fetch and display welcome page content on page load
            fetchWelcomePage();

            // Handle welcome form submission
            $('#welcomeForm').on('submit', function(event) {
                event.preventDefault();
                const welcomeContent = $('#welcomeEditor').trumbowyg('html');
                $.ajax({
                    url: '/admin/welcome',
                    type: 'PUT',
                    data: JSON.stringify({ data: welcomeContent }),
                    contentType: 'application/json',
                    success: function(response) {
                        alert('Welcome page updated successfully');
                    },
                    error: function(error) {
                        console.error('Error updating welcome page');
                    }
                });
            });

            // Function to fetch and display current slides
            function fetchSlides() {
                // Array to hold slide numbers
                const slideNumbers = [1, 2, 3, 4, 5];

                // Clear existing slides
                $('#currentSlides').empty();

                // Fetch each slide
                slideNumbers.forEach(function(slideNum) {
                    // Construct the image source URL
                    const slideURL = `/static/slide${slideNum}.webp`;

                    // Create the HTML for each slide
                    const slideHTML = `
                        <div class="col-md-4 mb-3">
                            <div class="card">
                                <img src="${slideURL}" class="card-img-top" alt="Slide ${slideNum}">
                                <div class="card-body">
                                    <p class="card-text">Slide ${slideNum}</p>
                                </div>
                            </div>
                        </div>`;

                    // Append the slide HTML to #currentSlides
                    $('#currentSlides').append(slideHTML);
                });
            }

            // Fetch and display slides on page load
            fetchSlides();

            // Form submit event for slides upload
            $('#uploadForm').on('submit', function(event) {
                event.preventDefault();

                for (let i = 0; i < 5; i++) {
                    const fileInput = document.getElementById('file' + i);
                    const file = fileInput.files[0];

                    // Check if file is present
                    if (file) {
                        if (file.size > 10 * 1024 * 1024) { // Check if file is larger than 10 MB
                            alert('File ' + i + ' is larger than 10 MB');
                            return;
                        }

                        const formData = new FormData();
                        formData.append('data', file);

                        $.ajax({
                            url: '/admin/slides/' + (i + 1),
                            type: 'POST',
                            data: formData,
                            contentType: false,
                            processData: false,
                            success: function(response) {
                                console.log('File ' + i + ' uploaded successfully');
                                // Clear the file input field
                                fileInput.value = '';

                                for (let i = 0; i < 5; i++) {
                                    document.getElementById('file' + i).value = '';
                                }
                            },
                            error: function(error) {
                                console.error('Error uploading file ' + i);
                            }
                        });
                    }
                }
                fetchSlides();
            });
        });
    </script>
</body>
</html>
